<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <a href="/admin/add"
        style=' color:blueviolet; background-color:greenyellow; padding:5px;border-radius: 20%;cursor:pointer;'>
        + Add Blog
    </a>
        <h1>Blogs</h1>
        <ul>
            <%blogs.forEach((blog)=>{%>
            <li>
                <p>
                    <%=blog.title%>
                </p>
                <a class="del" 
                data-doc="<%=blog._id%>"
                style='color:yellow; background-color:black; padding:5px;border-radius: 20%;cursor:pointer;'
                >
                    delete
                </a>
            </li>
            <%})%>
        </ul>
    </section> 

    <section>
        <h1>Users</h1>
        <ul>
            <%users.forEach((user)=>{%>
            <li>
                <p>User Name: <%=user.username%></p>
                <p>Password: <%=user.password%></p>
            </li>
            <%})%>
        </ul>
    </section>

    <script>
        
        const del=document.querySelectorAll('a.del')
        const delLinks=[].slice.call(del)
        delLinks.forEach((item,i)=>{
            item.addEventListener('click',(e)=>{
            const endpoint=`/admin/delete/${item.dataset.doc}`

            fetch(endpoint,{
                method:'DELETE'
            })
            .then((response)=>response.json())
            .then((data)=> window.location.href=data.link)
            .catch((error)=>{
                console.log(err)
            })
        })
        })
        
    </script>

</body>
</html>


